.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: Montserrat;
}

p {
  font-family: Montserrat;
}

h1 {
  font-family: Monsterrat;
  font-weight: bold;
}

h2 {
  color: white;
  background-color: green;
  opacity: 0.50;
  font-family: Montserrat;
}

h3 {
  font-family: Monsterrat;
}

li {
  font-family: Monsterrat;
}
